// Media Queries
$mobile: "max-width: 575px";
$desktop: "min-width: 576px";
// Import Global Rules
@import "global-rules";

.container {
  @media ($mobile) {
    padding: 15px 15px 0;
  }
  @media ($desktop) {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
  }
}
.container > .card {
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 5px 5px 20px hsla(217, 22%, 67%, 0.678);
  @media ($desktop) {
    width: 750px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  > .child {
    padding: 25px 20px;
    @media ($desktop) {
      padding: 45px 40px;
    }
  }
  > .header {
    background-color: white;
    @media ($desktop) {
      grid-column-end: 2 span;
    }

    > .head {
      color: var(--cyan);
    }
    > .second-head {
      font-weight: bold;
      color: var(--bright-yellow);
    }
    > .desc {
      line-height: 2;
      color: var(--grayish-blue);
      @media ($desktop) {
        margin-bottom: 0;
      }
    }
  }
  > .sub {
    color: var(--light-gray);
    background-color: var(--cyan);

    > .price h3 {
      margin: 0;
      color: white;
      font-size: 40px;

      span {
        opacity: 0.7;
        font-size: 16px;
        font-weight: normal;
      }
    }
    .sign {
      width: 100%;
      font: inherit;
      padding: 20px;
      display: block;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 7px;
      color: vaR(--light-gray);
      background-color: var(--bright-yellow);
      box-shadow: 5px 5px 20px hsla(0, 0%, 0%, 0.5);
    }
  }
  > .why-us {
    color: var(--light-gray);
    background-color: hsl(179, 47%, 52%);

    .pros {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        line-height: 1.4;
      }
    }
  }
}
